---
interface Props {
  name: string;
  body: string;
}

const { name, body } = Astro.props;
---

<div class="d-flex flex-row justify-content-end mb-4">
  <div
    class="p-3 me-3 border"
    style="border-radius: 15px; background-color: #fbfbfb;"
  >
    <p class="small mb-0">{body}</p>
  </div>
  <svg
    width="100"
    height="100"
    xmlns="http://www.w3.org/2000/svg"
    style="width: 45px; height: 100%;"
    class="rounded-5"
  >
    <!-- Background -->
    <rect width="45px" height="100%" fill="#e0e0e0"></rect>

    <!-- Huruf U -->
    <text
      x="50%"
      y="50%"
      font-size="20"
      fill="#000"
      font-family="Arial"
      text-anchor="middle"
      alignment-baseline="middle">{name}</text
    >
  </svg>
</div>
