---
import Blank from "../../layouts/Blank.astro";
import Send from "../../components/chat/Send.astro";
import Received from "../../components/chat/Received.astro";
---

<Blank title="Chat">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-8">
        <div class="card" id="chat1" style="border-radius: 15px;">
          <div
            class="card-header d-flex justify-content-between align-items-center p-3 bg-danger text-white border-bottom-0"
            style="border-top-left-radius: 15px; border-top-right-radius: 15px;"
          >
            <a
              href="/"
              class="link-underline link-underline-opacity-0 link-light"
            >
              <i class="bi bi-chevron-left"></i>
            </a>
            <p class="mb-0 fw-bold">Robot Pencopy</p>
            <i class="bi bi-clock"></i>
          </div>
          <div class="card-body">
            <!-- start  -->
            <div
              class="chat"
              id="chatFrame"
              style="height: 400px; overflow-y: auto;"
            >
              <!-- Frame chat  -->
            </div>
            <div class="bg-light my-2"></div>
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="input-text"
                style="height: 100px"></textarea>
              <label for="input-text">Type your message</label>
            </div>
            <div class="my-3 text-center">
              <button type="button" id="send" class="btn btn-outline-danger"
                >Send <i class="bi bi-send"></i></button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Blank>
<script is:inline>
  $("#send").on("click", function () {
    const text = $("#input-text").val();
    if (text == "") {
      return;
    }
    $("#chatFrame").append(send("U", text));
    $("#chatFrame").append(received("AI", text, true));
    setTimeout(function () {
      $("#typing").remove();
      $("#chatFrame").append(received("AI", text));
      $("#chatFrame").scrollTop($("#chatFrame")[0].scrollHeight);
    }, 2000);
    $("#input-text").val("");
    $("#chatFrame").scrollTop($("#chatFrame")[0].scrollHeight);
  });

  function send(name, body) {
    const html = `<div class="d-flex flex-row justify-content-end mb-4">
  <div
    class="p-3 me-3 border"
    style="border-radius: 15px; background-color: #fbfbfb;"
  >
    <p class="small mb-0">${body}</p>
  </div>
  <svg
    width="100"
    height="100"
    xmlns="http://www.w3.org/2000/svg"
    style="width: 45px; height: 100%;"
    class="rounded-5"
  >
    <rect width="45px" height="100%" fill="#e0e0e0"></rect>
    <text
      x="50%"
      y="50%"
      font-size="20"
      fill="#000"
      font-family="Arial"
      text-anchor="middle"
      alignment-baseline="middle">${name}</text
    >
  </svg>
</div>`;
    return html;
  }

  function received(name, body, typing = null) {
    var id = 0;
    if (typing !== null) {
      body = `<span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
  <span role="status">Typing...</span>`;
      id = 1;
    }
    const html = `<div class="d-flex flex-row justify-content-start mb-4" id="${
      id == 1 ? "typing" : ""
    }">
    <svg
      width="100"
      height="100"
      xmlns="http://www.w3.org/2000/svg"
      style="width: 45px; height: 100%;"
      class="rounded-5"
    >
      <rect width="45px" height="100%" fill="#e0e0e0"></rect>
      <text
        x="50%"
        y="50%"
        font-size="20"
        fill="#000"
        font-family="Arial"
        text-anchor="middle"
        alignment-baseline="middle">${name}</text
      >
    </svg>
    <div
      class="p-3 ms-3"
      style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);"
    >
      <p class="small mb-0">${body}</p>
    </div>
  </div>`;

    return html;
  }
</script>
